.login,.contNou{
	 display: table;
	 margin : 0 auto;

}

form input{
	display: block;
	margin:15px;
    font-size: 1em;
        
}

form {
	border-radius: 5%;
    box-shadow:0 0 3px; 
	padding: 40px;
}