html, body, * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
overflow-x: hidden; 
}

.container{
    border:2px solid black;
	max-width:1300px;
	height:165vh;
    margin: 20px auto;
	}


.search_bar input{
	display: block; 
	width:900px;
	height:25px;
	margin: 40px auto;
	border:1px solid black;
	font-size: 1em;
	border-radius: 15px;
	position:relative;
	 
}

.content{
	display:block;
	width:900px;
	height:80px;
	margin: 20px auto;
	border:1px solid black;
	font-size: 1.3em;
	position:relative;
	overflow: hidden;
	box-shadow:0 0 5px; 
 
}

p{
	display: inline;
	margin:0 auto;
	 
}

 a{
    
	position:relative;
	width:30px;
	text-decoration: none;
	font-size:1.3em;
	padding-right: 20px;
	background-color: lightblue;
	border-radius: 10%;
	color:black;
    margin-top:10px;

}

#read{
	background-color: white;
	font-size:15px;
	font-family: Arial;
	font-color:blue;
	border-radius: 10%;
}